<a href="https://colab.research.google.com/github/jpcloud2021/pyspark-exm/blob/main/pyspark_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 68kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 17.9MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=26284933476c2b1de4b6ef98d1ad3f0ba4086346305274cd45baa62ed83e5ba6
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
list1 = (1,2,3,4)
list1
list1[2]

myDict ={"1":"Bob","2":"Cooper","3":"John"}
myDict
myDict.keys()
myDict.values()

dict_values(['Bob', 'Cooper', 'John'])

In [3]:
from pyspark.sql import SparkSession
spark= SparkSession.builder\
.appName("MyProcess")\
.master("local[*]")\
.getOrCreate()
spark

In [13]:
### creating dataframe

header =["city","type","price"]

data =map(lambda r:(r[0],r[1],float(r[2])),
                    map(lambda x:x.split(","),
                        ["Paris,Food,19.00", 
"Marsellie,Cloathing,12.00", 
"Paris,Food,8.00", 
"Paris,Cloathing,8.00",
"Marsellie,Food,20.00",
"Lyon,Book,18.00"]))
df=spark.createDataFrame(data,header)

In [15]:
list(data)

[]

In [14]:

df.show()

+---------+---------+-----+
|     city|     type|price|
+---------+---------+-----+
|    Paris|     Food| 19.0|
|Marsellie|Cloathing| 12.0|
|    Paris|     Food|  8.0|
|    Paris|Cloathing|  8.0|
|Marsellie|     Food| 20.0|
|     Lyon|     Book| 18.0|
+---------+---------+-----+

In [19]:
df.take(2)

[Row(city='Paris', type='Food', price=19.0),
 Row(city='Marsellie', type='Cloathing', price=12.0)]

In [21]:
df.printSchema()

root
 |-- city: string (nullable = true)
 |-- type: string (nullable = true)
 |-- price: double (nullable = true)

In [24]:
df.dtypes

[('city', 'string'), ('type', 'string'), ('price', 'double')]

In [27]:
for x in df.dtypes:
     print(x)

('city', 'string')
('type', 'string')
('price', 'double')

In [29]:
#Selecting columns

In [58]:
from pyspark.sql.types import StringType, FloatType, StructType , StructField

data =map(lambda r:(r[0],r[1],float(r[2])),
	map(lambda x:x.split(","),
["Paris,Food,19.00", 
"Marsellie,Cloathing,12.00", 
"Paris,Food,8.00", 
"Paris,Cloathing,8.00",
"Marsellie,Food,20.00",
"Lyon,Book,18.00"]

schema = StructType([StructField("city", StringType(), nullable=True),StructField("type", StringType(), nullable=True),StructField("price", FloatType(), nullable=True)])

df =spark.createDataFrame(data,schema=schema)
df.show()

SyntaxError: ignored

In [61]:
df.select("city)").show()

AnalysisException: ignored