<a href="https://colab.research.google.com/github/jpcloud2021/pyspark-exm/blob/main/pyspark_sample_0907.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 72kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 17.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=605a7b8eebb1fd209c262853c6f14bd1602c8b5d8d96abf34b4cd237d2c2add9
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
list1 = (1,2,3,4)
list1
list1[2]

myDict ={"1":"Bob","2":"Cooper","3":"John"}
myDict
myDict.keys()
myDict.values()

dict_values(['Bob', 'Cooper', 'John'])

In [3]:
from pyspark.sql import SparkSession
spark= SparkSession.builder\
.appName("MyProcess")\
.master("local[*]")\
.getOrCreate()
spark

In [ ]:
### creating dataframe

header =["city","type","price"]

data =map(lambda r:(r[0],r[1],float(r[2])),
                    map(lambda x:x.split(","),
                        ["Paris,Food,19.0", "marsellie,Cloathing,12.0", "Paris,Food,8.0", "Paris,Cloathing,8.0"]))
df=spark.createDataFrame(data,header)

In [ ]:
df.show()

+---------+---------+-----+
|     city|     type|price|
+---------+---------+-----+
|    Paris|     Food| 19.0|
|marsellie|Cloathing| 12.0|
|    Paris|     Food|  8.0|
|    Paris|Cloathing|  8.0|
+---------+---------+-----+

In [6]:
from pyspark.sql.types import StringType, FloatType, StructType , StructField

data =map(lambda r:(r[0],r[1],float(r[2])),
	map(lambda x:x.split(","),
["Paris,Food,19.00", 
"Marsellie,Cloathing,12.00", 
"Paris,Food,8.00", 
"Paris,Cloathing,8.00",
"Marsellie,Food,20.00",
"Lyon,Book,18.00"]))

schema = StructType([StructField("city", StringType(), nullable=True),StructField("type", StringType(), nullable=True),StructField("price", FloatType(), nullable=True)])

df =spark.createDataFrame(data,schema=schema)
df.show()

+---------+---------+-----+
|     city|     type|price|
+---------+---------+-----+
|    Paris|     Food| 19.0|
|Marsellie|Cloathing| 12.0|
|    Paris|     Food|  8.0|
|    Paris|Cloathing|  8.0|
|Marsellie|     Food| 20.0|
|     Lyon|     Book| 18.0|
+---------+---------+-----+

In [7]:
from pyspark.sql.types import StringType, FloatType, StructType , StructField

data =map(lambda r:(r[0],r[1],float(r[2])),
	map(lambda x:x.split(","),
["Paris,Food,19.00", 
"Marsellie,Cloathing,12.00", 
"Paris,Food,8.00", 
"Paris,Cloathing,8.00",
"Marsellie,Food,20.00",
"Lyon,Book,18.00"]))

schema = StructType([StructField("city", StringType(), nullable=True),StructField("type", StringType(), nullable=True),StructField("price", FloatType(), nullable=True)])

df =spark.createDataFrame(data,schema=schema)
df.show()

+---------+---------+-----+
|     city|     type|price|
+---------+---------+-----+
|    Paris|     Food| 19.0|
|Marsellie|Cloathing| 12.0|
|    Paris|     Food|  8.0|
|    Paris|Cloathing|  8.0|
|Marsellie|     Food| 20.0|
|     Lyon|     Book| 18.0|
+---------+---------+-----+

In [8]:

#manipulating column

from pyspark.sql.types import StringType, FloatType, StructType , StructField

data =map(lambda r:(r[0],r[1],float(r[2])),
	map(lambda x:x.split(","),
["Paris,Food,19.00", 
"Marsellie,Cloathing,12.00", 
"Paris,Food,8.00", 
"Paris,Cloathing,8.00",
"Marsellie,Food,20.00",
"Lyon,Book,18.00"]))

schema = StructType([StructField("city", StringType(), nullable=True),StructField("type", StringType(), nullable=True),StructField("price", FloatType(), nullable=True)])

df =spark.createDataFrame(data,schema=schema)
df.show()

df.withColumn("abc", df.price /2).show()

+---------+---------+-----+
|     city|     type|price|
+---------+---------+-----+
|    Paris|     Food| 19.0|
|Marsellie|Cloathing| 12.0|
|    Paris|     Food|  8.0|
|    Paris|Cloathing|  8.0|
|Marsellie|     Food| 20.0|
|     Lyon|     Book| 18.0|
+---------+---------+-----+

+---------+---------+-----+----+
|     city|     type|price| abc|
+---------+---------+-----+----+
|    Paris|     Food| 19.0| 9.5|
|Marsellie|Cloathing| 12.0| 6.0|
|    Paris|     Food|  8.0| 4.0|
|    Paris|Cloathing|  8.0| 4.0|
|Marsellie|     Food| 20.0|10.0|
|     Lyon|     Book| 18.0| 9.0|
+---------+---------+-----+----+

In [9]:
from pyspark.sql.functions import cos

df = spark.createDataFrame([[1, 2],[2, 3],[3, 4],[4, 5]], schema=["x1","x2"])

df.withColumn("cos_sum", cos(df.x1 +df.x2)).show()

+---+---+-------------------+
| x1| x2|            cos_sum|
+---+---+-------------------+
|  1|  2|-0.9899924966004454|
|  2|  3|0.28366218546322625|
|  3|  4| 0.7539022543433046|
|  4|  5|-0.9111302618846769|
+---+---+-------------------+