<a href="https://colab.research.google.com/github/jpcloud2021/pyspark-exm/blob/main/python_sample_0907.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

age=20
age
age

name =input("what is your name ? ")
print("Hello " + name)

hello
what is your name ? Jainendra Kumar Pathak
Hello Jainendra Kumar Pathak

In [ ]:
#type conversion
birth_year = input("Enter you birth year :")
age = 2021-int(birth_year) #need to covert into int as its string
print(age)

Enter you birth year :1990
31

In [ ]:
num1= 10
num2= 10.2
sum = num1+ num2
print(sum)

20.2

In [ ]:
#input() - return type is String
num1= input("first :")
num2= input("Second :")
sum = num1+ num2
print(sum)

first :10
Second :10.2
1010.2

In [ ]:
#input() - return type is String
num1= input("first :")
num2= input("Second :")
sum = float(num1)+ float(num2)
print(sum)

first :10
Second :20.33
30.33

In [ ]:
#input() - return type is String
num1= input("first :")
num2= input("Second :")
sum = float(num1)+ float(num2)
##2print("sum " +sum) # will give error
print("sum " +str(sum))

first :10
Second :.3
sum 10.3

In [ ]:
course ="Python tutorial for biginners"

print(course.find('t'))
print(course.find('L')) # give -1 becuase L is not present
print(course.find('for'))

print(course.replace('for','4'))
print(course)

print("for" in course)

2
-1
16
Python tutorial 4 biginners
Python tutorial for biginners
True

In [ ]:
#arithmatic operation

print(10-3)
print(10+3)
print(10*3)
print(10/3) #will give 3.33333333333
print(10//3) #will give 3
print(10%3)#reminder
print(10**3)#power of 3

7
13
30
3.3333333333333335
3
1
1000

In [ ]:
x =10
x =x +3
print(x)
x +=3 #augmented assignmetn same as x=x+3
print(x)

13
16

In [2]:
#operator

x =  3==2 #give False as 3!=2
print(x)

x = 3!=2 #give True as 3!=2
print(x)

False
True

In [6]:
#logical operator

x=25
print( x > 10 and x<35) # will print true if both true
x=45
print( x > 10 or x<35) # will print true if any one true

print(not x>10)

True
True
False

In [11]:
temp =36

if temp <25:
  print("It's sunny day")
  print("it's nice day")
elif x>35:
  print("more than 25 but less than 35")
  print("it's nice elif")
print("Always run")

more than 25 but less than 35
it's nice elif
Always run

In [20]:
names = ["jai","kumar","Pathak","Allan","Murphy"]
names[1]
print(names[1])
print(names[-1]) #will print last element
print(names[-2]) #will print 2nd last element
print(names)
names[0]="Jainendra"
print(names)

print(names[0:3]) #will print 3 element

kumar
Murphy
Allan
['jai', 'kumar', 'Pathak', 'Allan', 'Murphy']
['Jainendra', 'kumar', 'Pathak', 'Allan', 'Murphy']
['Jainendra', 'kumar', 'Pathak']

In [32]:
numbers =[1,2,3,4,5]
print(numbers)
numbers.append(7)
print(numbers)
numbers.insert(5,6)#need to pass index where need to add 6
print(numbers)

numbers.remove(3)#element want to delete
print(numbers)


numbers.clear()#clearall element to delete
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 4, 5, 6, 7]
[]

In [34]:
numbers =[1,2,3,4,5]
print(5 in numbers)#if element exist its true else false
print(6 in numbers)#if element exist its true else false

True
False

In [36]:
numbers = [1,2,3,4,5,6,7,8,9]
for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [38]:
number = range(10)
print(number)
for i in number:
  print(i)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [39]:
number = range(10,20,2)
print(number)
for i in number:
  print(i)

range(10, 20, 2)
10
12
14
16
18

In [40]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [44]:
#Tuples
numbers1 =(1,2,3,4) # its immutable so we cant change otherwise will give error
print(numbers1)
numbers1[1]=7

(1, 2, 3, 4)

TypeError: ignored

In [46]:
numbers1 =(1,2,3,4,3,5,6,7,2,5,7)
print(numbers1.count(3))#occurances of 3 i.e 2

2