<a href="https://colab.research.google.com/github/jpcloud2021/pyspark-exm/blob/main/python_sample_0907.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
print("hello")

age=20
age
age

name =input("what is your name ? ")
print("Hello " + name)

hello
what is your name ? Jainendra Kumar Pathak
Hello Jainendra Kumar Pathak

In [8]:
#type conversion
birth_year = input("Enter you birth year :")
age = 2021-int(birth_year) #need to covert into int as its string
print(age)

Enter you birth year :1990
31

In [10]:
num1= 10
num2= 10.2
sum = num1+ num2
print(sum)

20.2

In [11]:
#input() - return type is String
num1= input("first :")
num2= input("Second :")
sum = num1+ num2
print(sum)

first :10
Second :10.2
1010.2

In [12]:
#input() - return type is String
num1= input("first :")
num2= input("Second :")
sum = float(num1)+ float(num2)
print(sum)

first :10
Second :20.33
30.33

In [15]:
#input() - return type is String
num1= input("first :")
num2= input("Second :")
sum = float(num1)+ float(num2)
##2print("sum " +sum) # will give error
print("sum " +str(sum))

first :10
Second :.3
sum 10.3